# MongoDB
MONGODB_URI="your_mongodb_uri_here"
DB_NAME="your_db_name_here"
PORT=4000

# Cloudinary
CLOUDINARY_API_KEY="your_cloudinary_api_key_here"
CLOUDINARY_SECRET_KEY="your_cloudinary_secret_key_here"
CLOUDINARY_NAME="your_cloudinary_name_here"

# JWT Web Token
JWT_SECRET="your_jwt_secret_here"

# Admin Account
ADMIN_EMAIL="your_admin_email_here"
ADMIN_PASSWORD="your_admin_password_here"

# SMTP Email
EMAIL="your_smtp_email_here"
APP_PASS="your_smtp_app_pass_here"

# Payment Gateway Midtrans
MIDTRANS_SERVER_KEY="your_midtrans_server_key_here"
MIDTRANS_CLIENT_KEY="your_midtrans_client_key_here"

# Frontend URLs
FRONTEND_ADMIN_SELLER="your_frontend_admin_seller_url_here"
FRONTEND_ADMIN_MENTOR="your_frontend_admin_mentor_url_here"
FRONTEND_FLORERA="your_frontend_florera_url_here"
FRONTEND_FLORERA_ADMIN="your_frontend_florera_admin_url_here"

# Environment
NODE_ENV="development"

# Sendgrid
SENDGRID_API_KEY="your_sendgrid_api_key_here"
